<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="root">

    </div>
    @*<script>!function (l) { function e(e) { for (var r, t, n = e[0], o = e[1], u = e[2], f = 0, i = []; f < n.length; f++)t = n[f], p[t] && i.push(p[t][0]), p[t] = 0; for (r in o) Object.prototype.hasOwnProperty.call(o, r) && (l[r] = o[r]); for (s && s(e); i.length;)i.shift()(); return c.push.apply(c, u || []), a() } function a() { for (var e, r = 0; r < c.length; r++) { for (var t = c[r], n = !0, o = 1; o < t.length; o++) { var u = t[o]; 0 !== p[u] && (n = !1) } n && (c.splice(r--, 1), e = f(f.s = t[0])) } return e } var t = {}, p = { 1: 0 }, c = []; function f(e) { if (t[e]) return t[e].exports; var r = t[e] = { i: e, l: !1, exports: {} }; return l[e].call(r.exports, r, r.exports, f), r.l = !0, r.exports } f.m = l, f.c = t, f.d = function (e, r, t) { f.o(e, r) || Object.defineProperty(e, r, { enumerable: !0, get: t }) }, f.r = function (e) { "undefined" != typeof Symbol && Symbol.toStringTag && Object.defineProperty(e, Symbol.toStringTag, { value: "Module" }), Object.defineProperty(e, "__esModule", { value: !0 }) }, f.t = function (r, e) { if (1 & e && (r = f(r)), 8 & e) return r; if (4 & e && "object" == typeof r && r && r.__esModule) return r; var t = Object.create(null); if (f.r(t), Object.defineProperty(t, "default", { enumerable: !0, value: r }), 2 & e && "string" != typeof r) for (var n in r) f.d(t, n, function (e) { return r[e] }.bind(null, n)); return t }, f.n = function (e) { var r = e && e.__esModule ? function () { return e.default } : function () { return e }; return f.d(r, "a", r), r }, f.o = function (e, r) { return Object.prototype.hasOwnProperty.call(e, r) }, f.p = "/"; var r = window.webpackJsonp = window.webpackJsonp || [], n = r.push.bind(r); r.push = e, r = r.slice(); for (var o = 0; o < r.length; o++)e(r[o]); var s = n; a() }([])</script>
        <script type="text/javascript" src="./ReactApp/sample-widget/build/static/js/2.chunk.js"></script>
        <script type="text/javascript" src="./ReactApp/sample-widget/build/static/js/main.chunk.js"></script>
        <link href="./ReactApp/sample-widget/build/static/css/main.chunk.css" rel="stylesheet" />*@

    @*<link href="ReactApp/sample-with-dll/build/app.6fa72476.css" rel="stylesheet">
        <script>!function (e) { function t(n) { if (a[n]) return a[n].exports; var r = a[n] = { exports: {}, id: n, loaded: !1 }; return e[n].call(r.exports, r, r.exports, t), r.loaded = !0, r.exports } var n = window.webpackJsonp; window.webpackJsonp = function (p, l) { for (var o, c, i = 0, s = []; i < p.length; i++)c = p[i], r[c] && s.push.apply(s, r[c]), r[c] = 0; for (o in l) e[o] = l[o]; for (n && n(p, l); s.length;)s.shift().call(null, t); if (l[0]) return a[0] = 0, t(0) }; var a = {}, r = { 2: 0 }; t.e = function (e, n) { if (0 === r[e]) return n.call(null, t); if (void 0 !== r[e]) r[e].push(n); else { r[e] = [n]; var a = document.getElementsByTagName("head")[0], p = document.createElement("script"); p.type = "text/javascript", p.charset = "utf-8", p.async = !0, p.src = t.p + "" + ({ 0: "app", 1: "vendor" }[e] || e) + "." + { 0: "a5f6cca7", 1: "e5d25675" }[e] + ".js", a.appendChild(p) } }, t.m = e, t.c = a, t.p = "ReactApp/sample-with-dll/build" }([]);</script>
        <script type="text/javascript" src="ReactApp/sample-with-dll/build/vendor.e5d25675.js"></script>
        <script type="text/javascript" src="ReactApp/sample-with-dll/build/app.a5f6cca7.js"></script>*@

    <link href="ReactApp/sample-with-dll/dist/app.43abfbca.css" rel="stylesheet">

    <script>!function (e) { function t(n) { if (r[n]) return r[n].exports; var a = r[n] = { exports: {}, id: n, loaded: !1 }; return e[n].call(a.exports, a, a.exports, t), a.loaded = !0, a.exports } var n = window.webpackJsonp; window.webpackJsonp = function (p, l) { for (var o, s, c = 0, i = []; c < p.length; c++)s = p[c], a[s] && i.push.apply(i, a[s]), a[s] = 0; for (o in l) e[o] = l[o]; for (n && n(p, l); i.length;)i.shift().call(null, t); if (l[0]) return r[0] = 0, t(0) }; var r = {}, a = { 2: 0 }; t.e = function (e, n) { if (0 === a[e]) return n.call(null, t); if (void 0 !== a[e]) a[e].push(n); else { a[e] = [n]; var r = document.getElementsByTagName("head")[0], p = document.createElement("script"); p.type = "text/javascript", p.charset = "utf-8", p.async = !0, p.src = t.p + "" + ({ 0: "app", 1: "vendor" }[e] || e) + ".js", r.appendChild(p) } }, t.m = e, t.c = r, t.p = "ReactApp/sample-with-dll/dist/" }([]);</script>
    <script type="text/javascript" src="ReactApp/sample-with-dll/dist/vendor.js"></script>
    <script type="text/javascript" src="ReactApp/sample-with-dll/dist/app.js"></script>

    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
